.AnimationPage{
    width: 100%;
    padding-top: 20px;
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // background-color: rgb(115, 133, 84);
    box-sizing: border-box;
    .top-user-info{
        display: flex;
        justify-content: flex-end;
        padding: 10px 30px 10px 0px;
        align-items: center;
        img{
            width: 100px;
            height: fit-content;
        }
        .user-avatar{
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: white;
            svg{
                // height: 100%;
                width: auto;
            }
        }
    }
    .main{
        display: flex;
        padding: 0px 10px 0px 10px;
        align-items: center;
        .board{
            position: relative;
            width: 60%;
            height: fit-content;
            padding: 0px 10px 0px 0px;
            box-sizing: border-box;
            .image-to-download{
                position: relative;
                padding: 10px;
                box-sizing: border-box;
                width: fit-content;
                margin: auto;
                img{
                    width: 100%;
                    max-height: calc(100vh - 220px);
                    object-fit: contain;
                }
                #new-circles{
                    // background-color: aliceblue;
                    // height: 40px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .circle{
                        position: absolute;
                        z-index: 3;
                        height: 30px;
                        width: 30px;
                        border-radius: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        font-weight: 500;
                        color: white;
                        &.red{
                            background-color: red;
                            border: 3px solid rgb(255, 124, 124);
                        }
                        &.blue{
                            background-color: blue;
                            border: 3px solid rgb(132, 132, 255);
                        }
                        &.brown{
                            background-color: brown;
                            border: 3px solid rgb(209, 134, 134);
                        }
                        &.yellow{
                            background-color: yellow;
                            border: 3px solid rgb(255, 255, 125);
                            color: black;
                        }
                        &.green{
                            background-color: green;
                            border: 3px solid rgb(86, 170, 86);
                        }
                        &.white{
                            background-color: white;
                            border: 3px solid rgb(186, 186, 186);
                            color: black;
                        }
                        &.grey{
                            background-color: grey;
                            border: 3px solid rgb(188, 188, 188);
                        }
                        &.black{
                            background-color: black;
                            border: 3px solid rgb(128, 128, 128);
                        }
                        .drop-menu{
                            // width: 100px;
                            // height: 100px;
                            background-color: rgba(43, 44, 75, 0.856);        /////////////////////////////////////////////////
                            border-radius: 9px;
                            position: absolute;
                            top: 26px;
                            // left: 25px;
                            padding: 10px 20px 10px 20px;
                            width: max-content;
                            z-index: 5;
                            color: white;
                            p{
                                margin: 0px;
                                justify-content: space-between;
                                display: flex;
                                width: 100%;
                                input{
                                    width: 70px;
                                    margin-left: 5px;
                                    border: none;
                                    box-shadow: none;
                                    outline: none;
                                    color: white;
                                    background-color: #ffffff28;
                                    text-align: center;
                                    padding: 1px 3px 1px 3px;
                                }
                                padding: 2px 0px 2px 0px;
                            }
                            .delete-button{
                                background-color: #ffffff28;
                                margin-top: 2px;
                                padding: 2px;
                                text-align: center;
                                width: 100%;
                                box-sizing: border-box;
                                border-radius: 0px 0px 7px 7px;
                                &:hover{
                                    background-color: #ffffff5b;
                                }
                            }
                        }
                        .name{
                            position: absolute;
                            bottom: -23px;
                            color: rgb(0, 0, 0);
                            font-weight: 800;
                            // font-size: large;
                            width: max-content;
                        }
                    }
                    .point{
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border-radius: 20px;
                        background-color: #90775c;
                        cursor: pointer;
                        &.purple{
                            background-color: purple;
                            color: black;
                        }
                        &.orange{
                            background-color: orange;
                        }
                        &.springgreen{
                            background-color: springgreen;
                            color: black;
                        }
                        &.cornflowerblue{
                            background-color: cornflowerblue;
                        }
                    }
                    .ball{
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        border-radius: 30px;
                        cursor: pointer;
                    }
                }
            }
            .button-line{
                // background-color: aqua;
                // height: 40px;
                width: 100%;
                padding: 0px 8px 0px 8px;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                .button-group{
                    display: flex;
                    .button{
                        cursor: pointer;
                        margin: 0px 5px 0px 5px;
                        width: 40px;
                        height: 40px;
                        border: 2.5px solid white;
                        border-radius: 3px;
                        background-color: #90775c;
                        position: relative;
                        svg{
                            // fill: white;
                            color: white;
                            stroke: white;
                            stroke-width: 1.8px;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        &:hover{
                            background-color: white !important;
                            svg{
                                color: #90775c;
                                stroke: #90775c;
                            }
                        }
                        &.clicked{
                            background-color: #614628;
                        }
                    }
                }
                .circles{
                    // background-color: aliceblue;
                    // height: 40px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .circle{
                        height: 30px;
                        width: 30px;
                        border-radius: 40px;
                        margin: 0px 5px 0px 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        font-weight: 500;
                        color: white;
                        &.red{
                            background-color: red;
                            border: 3px solid rgb(255, 124, 124);
                        }
                        &.blue{
                            background-color: blue;
                            border: 3px solid rgb(132, 132, 255);
                        }
                        &.brown{
                            background-color: brown;
                            border: 3px solid rgb(209, 134, 134);
                        }
                        &.yellow{
                            background-color: yellow;
                            border: 3px solid rgb(255, 255, 125);
                            color: black;
                        }
                        &.green{
                            background-color: green;
                            border: 3px solid rgb(86, 170, 86);
                        }
                        &.white{
                            background-color: white;
                            border: 3px solid rgb(186, 186, 186);
                            color: black;
                        }
                        &.grey{
                            background-color: grey;
                            border: 3px solid rgb(188, 188, 188);
                        }
                        &.black{
                            background-color: black;
                            border: 3px solid rgb(128, 128, 128);
                        }
                    }
                    .point{
                        width: 20px;
                        height: 20px;
                        border-radius: 20px;
                        background-color: #90775c;
                        margin: 0px 5px 0px 5px;
                        cursor: pointer;
                        &.purple{
                            background-color: purple;
                            color: black;
                        }
                        &.orange{
                            background-color: orange;
                        }
                        &.springgreen{
                            background-color: springgreen;
                            color: black;
                        }
                        &.cornflowerblue{
                            background-color: cornflowerblue;
                        }
                    }
                    .ball{
                        width: 30px;
                        height: 30px;
                        border-radius: 30px;
                        cursor: pointer;
                    }
                }
            }
        }
        .roster{
            width: 40%;
            // height: 100%;
            padding: 0px 20px 0px 10px;
            box-sizing: border-box;
            // background-color: #614628;
            .user-info{
                display: flex;
                justify-content: flex-end;
                padding-bottom: 10px;
                align-items: center;
                img{
                    width: 30%;
                    height: fit-content;
                }
                .user-avatar{
                    margin-left: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    color: white;
                    svg{
                        // height: 100%;
                        width: auto;
                    }
                }
            }
            .table{
                // background-color: aliceblue;
                background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
                width: 100%;
                max-height: calc(100vh - 100px);
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    background-color: rgb(89,4,4);
                    width: 8px;
                }
                &::-webkit-scrollbar-track {
                    // background-color: hsla(0, 0%, 100%, 0.322);
                    box-shadow: 0 0 3px hsl(235, 21%, 11%);
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgb(43,44,75);
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: rgb(91, 92, 121);
                }
                .top{
                    display: flex;
                    padding: 10px 0px 10px 10px;
                    box-sizing: border-box;
                    background-color: rgb(13,13,25);
                    color: white;
                    .title{
                        font-size: large;
                        font-weight: 500;
                        border-bottom: 2px solid white;
                        padding-bottom: 5px;
                    }
                    .list{
                        padding: 10px 0px 0px 0px;
                        .member{
                            background-color: rgb(43,44,75);
                            min-width: 130px;
                            width: fit-content;
                            padding: 5px 10px 5px 10px;
                            margin-top: 10px;
                            border-radius: 3px;
                            &:first-child{
                                margin-top: 0px;
                            }
                        }
                        .plan{
                            min-width: 130px;
                            width: fit-content;
                            padding: 3px 8px 3px 8px;
                            margin-top: 10px;
                            border-radius: 3px;
                            border: 2px solid rgb(43,44,75);
                            &:first-child{
                                margin-top: 0px;
                            }
                        }
                    }
                    .left{
                        width: 50%;
                    }
                    .right{
                        width: 50%;
                    }
                }
                .bottom{
                    display: flex;
                    padding: 10px 0px 10px 10px;
                    box-sizing: border-box;
                    color: white;
                    display: block;
                    .title{
                        font-size: large;
                        font-weight: 500;
                        border-bottom: 2px solid white;
                        padding-bottom: 5px;
                    }
                    .columns{
                        display: flex;
                        .column{
                            width: 33%;
                            &:last-child{
                                width: 34%;
                            }
                            .sub-title{
                                font-weight: 500;
                                padding: 5px 0px 5px 0px;
                                border-bottom: 2px solid white;
                            }
                            .list{
                                padding-top: 10px;
                                .item{
                                    min-width: 110px;
                                    width: fit-content;
                                    padding: 3px 8px 3px 8px;
                                    margin-top: 10px;
                                    border-radius: 3px;
                                    border: 2px solid rgb(99, 15, 15);
                                    &:first-child{
                                        margin-top: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1170px) {
    .AnimationPage{
        padding: 0px 5px 0px 5px;
        .main{
            .board{
                padding: 0px 5px 0px 0px;
                .image-to-download{
                    img{
                        max-height: calc(100vh - 170px);
                    }
                    #new-circles{
                        // background-color: aliceblue;
                        // height: 40px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        .circle{
                            height: 20px;
                            width: 20px;
                            border-radius: 40px;
                            .drop-menu{
                                top: 20px;
                                padding: 7px 15px 7px 15px;
                            }
                            .name{
                                bottom: -20px;
                            }
                        }
                        .point{
                            width: 15px;
                            height: 15px;
                            border-radius: 20px;
                        }
                        .ball{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                .button-line{
                    .button-group{
                        .button{
                            margin: 0px 5px 0px 5px;
                            width: 30px;
                            height: 30px;
                            border: 2.0px solid rgb(255, 255, 255);
                            border-radius: 3px;
                            svg{
                                stroke-width: 1.8px;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    .circles{
                        width: 100%;
                        .circle{
                            height: 20px;
                            width: 20px;
                            border-radius: 40px;
                            margin: 0px 3px 0px 3px;
                        }
                        .point{
                            width: 15px;
                            height: 15px;
                            border-radius: 20px;
                            margin: 0px 3px 0px 3px;
                        }
                        .ball{
                            width: 20px;
                            height: 20px;
                            border-radius: 30px;
                        }
                    }
                }
            }
            .roster{
                padding: 0px 15px 0px 5px;
                .user-info{
                    padding-bottom: 5px;
                }
                .table{
                    .top{
                        padding: 5px 0px 5px 5px;
                        .list{
                            padding: 5px 0px 0px 0px;
                            .member{
                                // min-width: 100px;
                                padding: 3px 5px 3px 5px;
                                margin-top: 5px;
                                border-radius: 3px;
                            }
                            .plan{
                                // min-width: 100px;
                                padding: 2px 4px 2px 4px;
                                margin-top: 5px;
                                border: 1px solid rgb(43,44,75);
                            }
                        }
                    }
                    .bottom{
                        padding: 5px 0px 5px 5px;
                        .title{
                            font-size: large;
                            font-weight: 500;
                            border-bottom: 2px solid white;
                            padding-bottom: 3px;
                        }
                        .columns{
                            display: flex;
                            .column{
                                width: 33%;
                                &:last-child{
                                    width: 34%;
                                }
                                .sub-title{
                                    font-weight: 500;
                                    padding: 5px 0px 5px 0px;
                                    border-bottom: 2px solid white;
                                }
                                .list{
                                    padding-top: 5px;
                                    .item{
                                        min-width: fit-content;
                                        padding: 3px 5px 3px 5px;
                                        margin-top: 5px;
                                        border: 1px solid rgb(99, 15, 15);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}

@media only screen and (max-width: 872px) {
    .AnimationPage{
        padding: 0px 3px 0px 3px;
        .main{
            flex-direction: column;
            .board{
                width: 100%;
                padding: 0px 0px 0px 0px;
                .image-to-download{
                    // transform-origin: left;
                    // transform: translate(-50vw, -25vw) rotate(0deg);
                    img{
                        max-height: calc(60vh - 98px);
                    }
                }
                .button-line{
                    .button-group{
                        .button{
                            margin: 0px 3px 0px 3px;
                            width: 25px;
                            height: 25px;
                            border: 1.7px solid rgb(255, 255, 255);
                            border-radius: 2px;
                            svg{
                                stroke-width: 1.7px;
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
            .roster{
                width: 100%;
                padding: 20px 10px 0px 10px;
                font-size: small;
                .user-info{
                    padding-bottom: 3px;
                }
                .table{
                    max-height: calc(40vh - 85px);
                    &::-webkit-scrollbar {
                        width: 5px;
                    }
                    .top{
                        padding: 3px 0px 3px 3px;
                        .title{
                            border-bottom: 1.5px solid white;
                            padding-bottom: 1px;
                        }
                        .list{
                            padding: 3px 0px 0px 0px;
                            .member{
                                min-width: 80px;
                                padding: 2px 5px 2px 5px;
                                margin-top: 3px;
                                border-radius: 3px;
                            }
                            .plan{
                                min-width: 80px;
                                padding: 1px 4px 1px 4px;
                                margin-top: 3px;
                                border: 1px solid rgb(43,44,75);
                            }
                        }
                    }
                    .bottom{
                        padding: 0px 0px 3px 3px;
                        .title{
                            font-size: large;
                            font-weight: 500;
                            border-bottom: 1.5px solid white;
                            padding-bottom: 1px;
                        }
                        .columns{
                            display: flex;
                            .column{
                                width: 33%;
                                &:last-child{
                                    width: 34%;
                                }
                                .sub-title{
                                    font-weight: 500;
                                    padding: 2px 0px 1px 0px;
                                    border-bottom: 1.5px solid white;
                                }
                                .list{
                                    padding-top: 5px;
                                    .item{
                                        min-width: fit-content;
                                        padding: 1px 3px 1px 3px;
                                        margin-top: 5px;
                                        border: 1px solid rgb(99, 15, 15);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .AnimationPage{
        .main{
            .board{
                .image-to-download{
                    #new-circles{
                        // background-color: aliceblue;
                        // height: 40px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        .circle{
                            height: 16px;
                            width: 16px;
                            border-width: 1.8px !important;
                            .drop-menu{
                                top: 15px;
                                padding: 7px 15px 7px 15px;
                            }
                            .name{
                                bottom: -15px;
                                font-size: small;
                            }
                        }
                        .point{
                            width: 12px;
                            height: 12px;
                        }
                        .ball{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                .button-line{
                    &:first-child{
                        flex-direction: column;
                        .button-group:last-child{
                            margin-top: 6px;
                            justify-content: end;
                        }
                    }
                    .circles{
                        .circle{
                            height: 16px;
                            width: 16px;
                            margin: 0px 2px 0px 2px;
                            border-width: 1.8px !important;
                        }
                        .point{
                            width: 12px;
                            height: 12px;
                            margin: 0px 2px 0px 2px;
                        }
                        .ball{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
            .roster{
                .table{
                    max-height: calc(40vh - 120px);
                }
            }
        }
    }
}

.hidden{
    display: none;
}
