.App {
  background-color: rgb(115, 133, 84);
  background-image: url("./assets//red-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  user-select: none;
}